<div class="row-fluid">
  <div class="metro-nav">
    <div class="metro-nav-block nav-block-orange" style="margin-left:40px;margin-right:40px;">
      <a data-original-title="" href="">
        <div class="info">1234</div>
        <div class="status">Forums</div>
      </a>
    </div>
    <div class="metro-nav-block nav-block-green" style="margin-left:40px;margin-right:40px;">
      <a data-original-title="" href="">
        <div class="info">17</div>
        <div class="status">Master Reports</div>
      </a>
    </div>
    <div class="metro-nav-block nav-block-purple" style="margin-left:40px;margin-right:40px;">
      <a data-original-title="" href="">
        <div class="info">20</div>
        <div class="status">CRUDS</div>
      </a>
    </div>
    <div class="metro-nav-block nav-block-grey" style="margin-left:40px;margin-right:40px;">
      <a data-original-title="" href="">
        <div class="info">1234</div>
        <div class="status">Projects</div>
      </a>
    </div>
  </div>
</div>

