<%= link_to 'New Event', new_event_path, remote: true %>
<table data-source="<%= @data_source %>">
  <thead>
    <tr>
      <th>Edit</th>
      <th>Id</th>
      <th>Posts reason</th>
      <th>Posts title</th>
      <th>Posts description</th>
      <th>Is active</th>
      <th>Posted by</th>
      <th>Updated by</th>
      <th>Post type</th>
      <th>Posted at</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th>Assign to</th>
      <th>Anonymous post</th>
      <th>All day</th>
      <th>Event series</th>
      <th>Starttime</th>
      <th>Endtime</th>
      <th>Posts aots</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path, remote: true %>

<div class="modal" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="mainModalLabel">
          Edit
          &nbsp;
        </h4>
      </div>
      <div id="modal_data"></div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('table').DataTable({
    sPaginationType: "full_numbers",
        bProcessing: true,
        bServerSide: true,
        sAjaxSource: $('table').data('source')
  });
</script>
